@import "../styles/breakpoints.scss";

.container{
  background: #1a344b;
  margin: 0;
  padding: 0;
  //position: relative;

  .imageWrapper{
    height: 50vw;
    width: 100vw;
    position: relative;
  }
}



.textHero{
  display: flex;
  position: absolute;
}

.imageHero {
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
