

.container{
  //background: #1a344b;
  background-color: transparent;
  margin: 0;
  //padding-bottom: 40px;
  position: relative;
  width: 100%;
  height: 50vh;

  @include respond-to("l"){
    padding-bottom: 0;
    margin-top: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.wrapper{
  width: 100%;
  padding-top: 100%;
  position: relative;
  @include respond-to("m") {
    width: 100vw;
    // height: 100vh;
    // padding: 0;
  }
}
.imageWrapper{
  //display: none;
  @include respond-to("l") {
    max-height: 80%;
    display: block;
  }

  // add a image for phone
  .mobileImage {
    @include respond-to("l") {
      display: none;
    }
  }
}



.textHero{
  display: flex;
  position: absolute;
}

.imageHero {
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

