@import "./breakpoints.scss";

/*General Layout Font and color*/

/*

 */
:root {
  --background: #ffffff;
  --background-color: #f4eae1;
  --primary-text: #000000 ;
  --secondary-text: #575656FF ;
  --hover-color: #f3930a;
  --primary-color: #f46b45;
  --secondary-color:#eea849;
}

@font-face {
  font-family: "Corinthia-Bold";
  src: url("./assets/fonts/Corinthia-Bold.ttf");
}

@font-face {
  font-family: "Corinthia-Regular";
  src: url("./assets/fonts/Corinthia-Regular.ttf");
}

@font-face {
  font-family: "ConcertOne";
  src: url("./assets/fonts/ConcertOne-Regular.ttf");
}

@font-face {
  font-family: "AbrilFatface";
  src: url("./assets/fonts/AbrilFatface-Regular.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "ConcertOne", sans-serif;
  background-color: var(--background-color);
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}

.layout {
  max-width: 100%;
}

//Hero Title
h1 {
  font-family: "Corinthia-Bold", sans-serif;
  font-size: clamp(33px, 5vw, 85px);
  font-weight: 600;
  color: var(--background);

}

//Titles sections
h2 {
  font-family: "AbrilFatface", sans-serif;
  font-size: clamp(14px, 5vw, 50px);
  color: var(--primary-text);
}

p {
  font-size: clamp(12px, 5vw, 22px);
  color: var(--primary-text);
}

// Subtitles Sections Title
   h3 {
     font-size: clamp(30px, 5vw, 40px);
     color: var(--secondary-text);
   }



.buttonStyle {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: var(--background-color);
  color:var(--background) ;
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: 1em;
}

.buttonStyle:hover {
  color: var(--hover-color);
  transition: all 0.2s ease-in;
}
