@import "./breakpoints.scss";


.container {
  background: #1a344b;
  // background-color: transparent;
  margin: 0;
  padding: 0;
  //width: 100%;
 // max-height: 1200px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper{
    position: relative;
  }

  .imageWrapper {
    width: 100vw;
    position: relative;
    //background: #000000;

  }
  .imageHero {
   opacity: 85%;
    width: 100%;
  }



  .textHero{
    position: absolute;
    bottom: 49%;
    margin-left: 30%;
    margin-right: auto;
    letter-spacing: 1px;
    z-index: 1;
    p{
      margin-left: 8%;
      font-family: "AbrilFatface", sans-serif;
      font-size: clamp(16px, 2vw, 25px);
      color: wheat;

    }

    @include respond-to("l"){
      h1{
        font-size: 90px;
      }

    }
  }

}
