
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left,var(--primary-color), var(--secondary-color), transparent );
    color: #FFF;
    height: 75px;
    padding: 1em;
    z-index: 105;
    width: 100%;
    position: fixed;
}
.active{
    color: black;
}

.navTitle{
    padding-left: 0.5rem;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 105;
}

.menu > li {
    font-family: "AbrilFatface", sans-serif;
    font-size: 18px;
    margin: 0 1rem;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
}
.menu > li > a {
    all: unset;
    transition: 1s ease-in-out;
}

.menu > li:hover {
    color: var(--secondary-text);
    transition: all 0.4s ease-in;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}


.instagramLogo,
.facebookLogo
{color: white;
}

.instagramLogo{
    margin-right: 2rem;
}

.instagramLogo:hover,
.facebookLogo:hover{
    color: var(--secondary-text);
    transition: all 0.4s ease-in;
}
.facebookLink,
.instagramLink {
    padding-left:1em;
}

.imgWrapper {
    margin-top: 5px;
    width: 8rem;
    height: auto;
    margin-left:5% ;
    color: white;
    display: flex;

}

@media (max-width: 700px) {
    .active{
        color: var(--primary-color);
    }

    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 75px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color:rgba(0, 0, 0, 0.8);


    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .instagramLogo:hover,
    .facebookLogo:hover,
    .menu > li:hover
    {
        color: var(--hover-color);

    }
    .imgWrapper {
        margin-top: 1.5%;
        width: 7.5rem;
        height: auto;
        margin-left:5% ;
        color: white;
        display: flex;
    }

}


